link-extractor.json
{
  "name": "Sub-Workflow 1B: Link Extractor",
  "nodes": [
    {
      "parameters": {},
      "id": "e8a3c4d1-5f2a-4b3c-8d1e-9f7a6b5c4d3e",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "category_pages",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "processed",
              "keyValue": "false",
              "condition": "equals"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-4a5b-8c9d-0e1f2a3b4c5d",
      "name": "Get Unprocessed Pages",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "woAUTvWByiJ9u8p2",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extract article URLs from category page HTML (hrefs + embedded URLs)\nconst siteConfig = {\n  'topky.sk': {\n    base: 'https://www.topky.sk',\n    allow: [/https?:\\/\\/(?:www\\.)?topky\\.sk\\/clanok\\/\\d+\\/[^\"'\\s<>?#]+/i],\n    extract: [/https?:\\/\\/(?:www\\.)?topky\\.sk\\/clanok\\/\\d+\\/[^\"'\\s<>?#]+/gi]\n  },\n  'cas.sk': {\n    base: 'https://www.cas.sk',\n    allow: [/https?:\\/\\/(?:www\\.)?cas\\.sk\\/(?:premium\\/)?prominenti\\/[^\"'\\s<>?#]+/i],\n    extract: [/https?:\\/\\/(?:www\\.)?cas\\.sk\\/(?:premium\\/)?prominenti\\/[^\"'\\s<>?#]+/gi]\n  },\n  'pluska.sk': {\n    base: 'https://www1.pluska.sk',\n    allow: [/https?:\\/\\/(?:www\\d*\\.)?pluska\\.sk\\/[^\"'\\s<>?#]+/i],\n    extract: [/https?:\\/\\/(?:www\\d*\\.)?pluska\\.sk\\/[^\"'\\s<>?#]+/gi],\n    deny: [/\\/cookie/i, /\\/predplatne/i]\n  },\n  'refresher.sk': {\n    base: 'https://refresher.sk',\n    allow: [/https?:\\/\\/refresher\\.sk\\/\\d+[^\"'\\s<>?#]+/i],\n    extract: [/https?:\\/\\/refresher\\.sk\\/\\d+[^\"'\\s<>?#]+/gi]\n  },\n  'startitup.sk': {\n    base: 'https://www.startitup.sk',\n    allow: [/https?:\\/\\/(?:www\\.)?startitup\\.sk\\/(?!kategoria|autor|tag|wp-|wp-content|videa|video|feed)[^\"'\\s<>?#]+/i],\n    extract: [/https?:\\/\\/(?:www\\.)?startitup\\.sk\\/[^\"'\\s<>?#]+/gi],\n    deny: [/\\/wp-content/i, /\\/kategoria/i, /\\/videa/i, /\\/video/i, /\\/feed\\//i, /#/] \n  }\n};\n\nconst item = $input.item.json;\nconst sourceWebsite = item.source_website;\nconst rawHtml = item.raw_html || '';\nconst categoryPageId = item.id;\n\nconst cfg = siteConfig[sourceWebsite];\nif (!cfg) {\n  throw new Error('No regex pattern defined for: ' + sourceWebsite);\n}\n\nif (!rawHtml) {\n  return {\n    json: {\n      category_page_id: categoryPageId,\n      source_website: sourceWebsite,\n      extracted_urls: [],\n      total_found: 0,\n      error: 'No raw_html found'\n    }\n  };\n}\n\nconst urls = new Set();\n\nfunction shouldKeep(url) {\n  if (cfg.allow && !cfg.allow.some((re) => re.test(url))) return false;\n  if (cfg.deny && cfg.deny.some((re) => re.test(url))) return false;\n  return true;\n}\n\n// 1) href attributes\nconst hrefRegex = /href=[\"']([^\"'#]+)[\"']/gi;\nlet match;\nwhile ((match = hrefRegex.exec(rawHtml)) !== null) {\n  const href = match[1];\n  if (!href) continue;\n  if (href.startsWith('mailto:') || href.startsWith('javascript:') || href.startsWith('#')) continue;\n\n  let absolute;\n  try {\n    absolute = href.startsWith('http') ? href : new URL(href, cfg.base).toString();\n  } catch (e) {\n    continue;\n  }\n\n  if (shouldKeep(absolute)) urls.add(absolute.split('#')[0]);\n}\n\n// 2) embedded URLs (also unescape JSON-style slashes)\nconst normalized = rawHtml.replace(/\\\\//g, '/');\nconst sourcesToScan = [rawHtml, normalized];\n\nfor (const text of sourcesToScan) {\n  for (const re of cfg.extract || []) {\n    const matches = text.match(re) || [];\n    for (let u of matches) {\n      if (!u) continue;\n      if (shouldKeep(u)) urls.add(u.split('#')[0]);\n    }\n  }\n}\n\nconst extractedUrls = Array.from(urls).map((url) => ({\n  article_url: url,\n  source_website: sourceWebsite,\n  category_page_id: categoryPageId\n}));\n\nreturn {\n  json: {\n    category_page_id: categoryPageId,\n    source_website: sourceWebsite,\n    extracted_urls: extractedUrls,\n    total_found: extractedUrls.length\n  }\n};\n"
      },
      "id": "b2c3d4e5-f6a7-4b5c-9d0e-1f2a3b4c5d6e",
      "name": "Extract Article URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.total_found }}",
              "rightValue": 0
            }
          ]
        }
      },
      "id": "c3d4e5f6-a7b8-4c5d-0e1f-2a3b4c5d6e7f",
      "name": "Check URLs Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Collect all URLs from the extracted_urls arrays\nconst allUrls = [];\n\nfor (const item of $input.all()) {\n  if (item.json.extracted_urls && Array.isArray(item.json.extracted_urls)) {\n    // Push each URL object from the array\n    allUrls.push(...item.json.extracted_urls);\n  }\n}\n\n// Return each URL as a separate item\nreturn allUrls.map(urlData => ({ json: urlData }));"
      },
      "id": "d4e5f6a7-b8c9-4d5e-1f2a-3b4c5d6e7f8a",
      "name": "Prepare Batch Insert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        200
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "article_urls",
        "dataMode": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "article_url",
              "fieldValue": "={{ $json.article_url }}"
            },
            {
              "fieldId": "source_website",
              "fieldValue": "={{ $json.source_website }}"
            },
            {
              "fieldId": "category_page_id",
              "fieldValue": "={{ $json.category_page_id }}"
            }
          ]
        },
        "options": {
          "queryName": "upsert"
        }
      },
      "id": "e5f6a7b8-c9d0-4e5f-2a3b-4c5d6e7f8a9b",
      "name": "Insert Article URLs",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1340,
        200
      ],
      "credentials": {
        "supabaseApi": {
          "id": "woAUTvWByiJ9u8p2",
          "name": "Supabase account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Get all category page IDs that were processed\nconst processedIds = [];\n\nfor (const item of $input.all()) {\n  const categoryPageId = item.json.category_page_id;\n  if (categoryPageId && !processedIds.includes(categoryPageId)) {\n    processedIds.push(categoryPageId);\n  }\n}\n\nreturn processedIds.map(id => ({ json: { id } }));"
      },
      "id": "f6a7b8c9-d0e1-4f5a-3b4c-5d6e7f8a9b0c",
      "name": "Get Processed IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        200
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "category_pages",
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "key": "processed",
              "value": "true"
            }
          ]
        },
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.id }}",
              "condition": "equals"
            }
          ]
        },
        "options": {}
      },
      "id": "a7b8c9d0-e1f2-4a5b-4c5d-6e7f8a9b0c1d",
      "name": "Mark Pages Processed",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1780,
        200
      ],
      "credentials": {
        "supabaseApi": {
          "id": "woAUTvWByiJ9u8p2",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Log when no URLs were found\nconst items = $input.all();\nconst summary = items.map(item => ({\n  source: item.json.source_website,\n  found: item.json.total_found || 0,\n  error: item.json.error || null\n}));\n\nreturn [{\n  json: {\n    message: 'No article URLs found in any category pages',\n    summary: summary,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "c9d0e1f2-a3b4-4c5d-6e7f-8a9b0c1d2e3f",
      "name": "Log No URLs Found",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "errorMessage": "={{ $json.error.message }}",
        "mode": "catchErrors"
      },
      "id": "e1f2a3b4-c5d6-4e7f-8a9b-0c1d2e3f4a5b",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        240,
        520
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get Unprocessed Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unprocessed Pages": {
      "main": [
        [
          {
            "node": "Extract Article URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Article URLs": {
      "main": [
        [
          {
            "node": "Check URLs Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check URLs Found": {
      "main": [
        [
          {
            "node": "Prepare Batch Insert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log No URLs Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Batch Insert": {
      "main": [
        [
          {
            "node": "Insert Article URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Article URLs": {
      "main": [
        [
          {
            "node": "Get Processed IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Processed IDs": {
      "main": [
        [
          {
            "node": "Mark Pages Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Pages Processed": {
      "main": []
    },
    "Log No URLs Found": {
      "main": []
    },
    "Error Trigger": {
      "main": []
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-06T00:00:00.000Z",
  "versionId": "1"
}