scraper-hourly-collection.json
{
  "name": "Scraper - Hourly Data Collection",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://www.topky.sk/se/15/Prominenti",
        "method": "GET",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html"
            },
            {
              "name": "Accept-Language",
              "value": "sk-SK,sk;q=0.9"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "http-topky",
      "name": "HTTP Request - Topky",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [450, 100],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.cas.sk/r/prominenti",
        "method": "GET",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html"
            },
            {
              "name": "Accept-Language",
              "value": "sk-SK,sk;q=0.9"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "http-cas",
      "name": "HTTP Request - Cas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [450, 250],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www1.pluska.sk/r/soubiznis",
        "method": "GET",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html"
            },
            {
              "name": "Accept-Language",
              "value": "sk-SK,sk;q=0.9"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "http-pluska",
      "name": "HTTP Request - Pluska",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [450, 400],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://refresher.sk/osobnosti",
        "method": "GET",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html"
            },
            {
              "name": "Accept-Language",
              "value": "sk-SK,sk;q=0.9"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "http-refresher",
      "name": "HTTP Request - Refresher",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [450, 550],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.startitup.sk/kategoria/kultura/",
        "method": "GET",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html"
            },
            {
              "name": "Accept-Language",
              "value": "sk-SK,sk;q=0.9"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "http-startitup",
      "name": "HTTP Request - Startitup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [450, 700],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "status-check-topky",
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200
            }
          ]
        }
      },
      "id": "if-topky",
      "name": "IF - Check Topky Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [650, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "status-check-cas",
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200
            }
          ]
        }
      },
      "id": "if-cas",
      "name": "IF - Check Cas Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [650, 250]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "status-check-pluska",
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200
            }
          ]
        }
      },
      "id": "if-pluska",
      "name": "IF - Check Pluska Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "status-check-refresher",
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200
            }
          ]
        }
      },
      "id": "if-refresher",
      "name": "IF - Check Refresher Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [650, 550]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "status-check-startitup",
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200
            }
          ]
        }
      },
      "id": "if-startitup",
      "name": "IF - Check Startitup Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [650, 700]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "create",
        "tableId": "articles",
        "dataMode": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "source_url",
              "fieldValue": "={{ $json.url }}"
            },
            {
              "fieldId": "source_website",
              "fieldValue": "topky.sk"
            },
            {
              "fieldId": "raw_html",
              "fieldValue": "={{ $json.body }}"
            },
            {
              "fieldId": "scraped_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "supabase-topky",
      "name": "Supabase Insert - Topky",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [850, 100],
      "credentials": {
        "supabaseApi": {
          "id": "woAUTvWByiJ9u8p2",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "create",
        "tableId": "articles",
        "dataMode": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "source_url",
              "fieldValue": "={{ $json.url }}"
            },
            {
              "fieldId": "source_website",
              "fieldValue": "cas.sk"
            },
            {
              "fieldId": "raw_html",
              "fieldValue": "={{ $json.body }}"
            },
            {
              "fieldId": "scraped_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "supabase-cas",
      "name": "Supabase Insert - Cas",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [850, 250],
      "credentials": {
        "supabaseApi": {
          "id": "woAUTvWByiJ9u8p2",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "create",
        "tableId": "articles",
        "dataMode": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "source_url",
              "fieldValue": "={{ $json.url }}"
            },
            {
              "fieldId": "source_website",
              "fieldValue": "pluska.sk"
            },
            {
              "fieldId": "raw_html",
              "fieldValue": "={{ $json.body }}"
            },
            {
              "fieldId": "scraped_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "supabase-pluska",
      "name": "Supabase Insert - Pluska",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [850, 400],
      "credentials": {
        "supabaseApi": {
          "id": "woAUTvWByiJ9u8p2",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "create",
        "tableId": "articles",
        "dataMode": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "source_url",
              "fieldValue": "={{ $json.url }}"
            },
            {
              "fieldId": "source_website",
              "fieldValue": "refresher.sk"
            },
            {
              "fieldId": "raw_html",
              "fieldValue": "={{ $json.body }}"
            },
            {
              "fieldId": "scraped_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "supabase-refresher",
      "name": "Supabase Insert - Refresher",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [850, 550],
      "credentials": {
        "supabaseApi": {
          "id": "woAUTvWByiJ9u8p2",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "create",
        "tableId": "articles",
        "dataMode": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "source_url",
              "fieldValue": "={{ $json.url }}"
            },
            {
              "fieldId": "source_website",
              "fieldValue": "startitup.sk"
            },
            {
              "fieldId": "raw_html",
              "fieldValue": "={{ $json.body }}"
            },
            {
              "fieldId": "scraped_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "supabase-startitup",
      "name": "Supabase Insert - Startitup",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [850, 700],
      "credentials": {
        "supabaseApi": {
          "id": "woAUTvWByiJ9u8p2",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request - Topky",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request - Cas",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request - Pluska",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request - Refresher",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request - Startitup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Topky": {
      "main": [
        [
          {
            "node": "IF - Check Topky Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Cas": {
      "main": [
        [
          {
            "node": "IF - Check Cas Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Pluska": {
      "main": [
        [
          {
            "node": "IF - Check Pluska Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Refresher": {
      "main": [
        [
          {
            "node": "IF - Check Refresher Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Startitup": {
      "main": [
        [
          {
            "node": "IF - Check Startitup Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Check Topky Status": {
      "main": [
        [
          {
            "node": "Supabase Insert - Topky",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "IF - Check Cas Status": {
      "main": [
        [
          {
            "node": "Supabase Insert - Cas",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "IF - Check Pluska Status": {
      "main": [
        [
          {
            "node": "Supabase Insert - Pluska",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "IF - Check Refresher Status": {
      "main": [
        [
          {
            "node": "Supabase Insert - Refresher",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "IF - Check Startitup Status": {
      "main": [
        [
          {
            "node": "Supabase Insert - Startitup",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-03T00:00:00.000Z",
  "versionId": "1"
}
