scraper-hourly-collection.json
{
  "name": "Scraper - Hourly Data Collection",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://www.topky.sk/se/15/Prominenti",
        "method": "GET",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html"
            },
            {
              "name": "Accept-Language",
              "value": "sk-SK,sk;q=0.9"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "text",
              "includeHeadersAndStatus": true,
              "neverError": true
            }
          }
        }
      },
      "id": "http-topky",
      "name": "HTTP Request - Topky",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [450, 100],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.cas.sk/r/prominenti",
        "method": "GET",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html"
            },
            {
              "name": "Accept-Language",
              "value": "sk-SK,sk;q=0.9"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "text",
              "includeHeadersAndStatus": true,
              "neverError": true
            }
          }
        }
      },
      "id": "http-cas",
      "name": "HTTP Request - Cas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [450, 250],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www1.pluska.sk/r/soubiznis",
        "method": "GET",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html"
            },
            {
              "name": "Accept-Language",
              "value": "sk-SK,sk;q=0.9"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "text",
              "includeHeadersAndStatus": true,
              "neverError": true
            }
          }
        }
      },
      "id": "http-pluska",
      "name": "HTTP Request - Pluska",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [450, 400],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://refresher.sk/osobnosti",
        "method": "GET",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html"
            },
            {
              "name": "Accept-Language",
              "value": "sk-SK,sk;q=0.9"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "text",
              "includeHeadersAndStatus": true,
              "neverError": true
            }
          }
        }
      },
      "id": "http-refresher",
      "name": "HTTP Request - Refresher",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [450, 550],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.startitup.sk/kategoria/kultura/",
        "method": "GET",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html"
            },
            {
              "name": "Accept-Language",
              "value": "sk-SK,sk;q=0.9"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "text",
              "includeHeadersAndStatus": true,
              "neverError": true
            }
          }
        }
      },
      "id": "http-startitup",
      "name": "HTTP Request - Startitup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [450, 700],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "url-topky",
              "name": "source_url",
              "value": "https://www.topky.sk/se/15/Prominenti",
              "type": "string"
            },
            {
              "id": "website-topky",
              "name": "source_website",
              "value": "topky.sk",
              "type": "string"
            },
            {
              "id": "body-topky",
              "name": "raw_html",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "set-topky",
      "name": "Set - Topky Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [650, 100]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "url-cas",
              "name": "source_url",
              "value": "https://www.cas.sk/r/prominenti",
              "type": "string"
            },
            {
              "id": "website-cas",
              "name": "source_website",
              "value": "cas.sk",
              "type": "string"
            },
            {
              "id": "body-cas",
              "name": "raw_html",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "set-cas",
      "name": "Set - Cas Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [650, 250]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "url-pluska",
              "name": "source_url",
              "value": "https://www1.pluska.sk/r/soubiznis",
              "type": "string"
            },
            {
              "id": "website-pluska",
              "name": "source_website",
              "value": "pluska.sk",
              "type": "string"
            },
            {
              "id": "body-pluska",
              "name": "raw_html",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "set-pluska",
      "name": "Set - Pluska Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [650, 400]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "url-refresher",
              "name": "source_url",
              "value": "https://refresher.sk/osobnosti",
              "type": "string"
            },
            {
              "id": "website-refresher",
              "name": "source_website",
              "value": "refresher.sk",
              "type": "string"
            },
            {
              "id": "body-refresher",
              "name": "raw_html",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "set-refresher",
      "name": "Set - Refresher Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [650, 550]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "url-startitup",
              "name": "source_url",
              "value": "https://www.startitup.sk/kategoria/kultura/",
              "type": "string"
            },
            {
              "id": "website-startitup",
              "name": "source_website",
              "value": "startitup.sk",
              "type": "string"
            },
            {
              "id": "body-startitup",
              "name": "raw_html",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "set-startitup",
      "name": "Set - Startitup Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [650, 700]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO category_pages (source_url, source_website, raw_html, scraped_at)\nVALUES ($1, $2, $3, $4)\nON CONFLICT (source_url) \nDO UPDATE SET \n  source_website = EXCLUDED.source_website,\n  raw_html = EXCLUDED.raw_html,\n  scraped_at = EXCLUDED.scraped_at,\n  processed = FALSE\nRETURNING *;",
        "additionalFields": {
          "mode": "independently",
          "queryParams": "={{ $json.source_url }},={{ $json.source_website }},={{ $json.raw_html }},={{ $now }}"
        }
      },
      "id": "supabase-topky",
      "name": "Postgres Upsert - Topky",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [850, 100],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Supabase Postgres"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO category_pages (source_url, source_website, raw_html, scraped_at)\nVALUES ($1, $2, $3, $4)\nON CONFLICT (source_url) \nDO UPDATE SET \n  source_website = EXCLUDED.source_website,\n  raw_html = EXCLUDED.raw_html,\n  scraped_at = EXCLUDED.scraped_at,\n  processed = FALSE\nRETURNING *;",
        "additionalFields": {
          "mode": "independently",
          "queryParams": "={{ $json.source_url }},={{ $json.source_website }},={{ $json.raw_html }},={{ $now }}"
        }
      },
      "id": "supabase-cas",
      "name": "Postgres Upsert - Cas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [850, 250],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Supabase Postgres"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO category_pages (source_url, source_website, raw_html, scraped_at)\nVALUES ($1, $2, $3, $4)\nON CONFLICT (source_url) \nDO UPDATE SET \n  source_website = EXCLUDED.source_website,\n  raw_html = EXCLUDED.raw_html,\n  scraped_at = EXCLUDED.scraped_at,\n  processed = FALSE\nRETURNING *;",
        "additionalFields": {
          "mode": "independently",
          "queryParams": "={{ $json.source_url }},={{ $json.source_website }},={{ $json.raw_html }},={{ $now }}"
        }
      },
      "id": "supabase-pluska",
      "name": "Postgres Upsert - Pluska",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [850, 400],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Supabase Postgres"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO category_pages (source_url, source_website, raw_html, scraped_at)\nVALUES ($1, $2, $3, $4)\nON CONFLICT (source_url) \nDO UPDATE SET \n  source_website = EXCLUDED.source_website,\n  raw_html = EXCLUDED.raw_html,\n  scraped_at = EXCLUDED.scraped_at,\n  processed = FALSE\nRETURNING *;",
        "additionalFields": {
          "mode": "independently",
          "queryParams": "={{ $json.source_url }},={{ $json.source_website }},={{ $json.raw_html }},={{ $now }}"
        }
      },
      "id": "supabase-refresher",
      "name": "Postgres Upsert - Refresher",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [850, 550],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Supabase Postgres"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO category_pages (source_url, source_website, raw_html, scraped_at)\nVALUES ($1, $2, $3, $4)\nON CONFLICT (source_url) \nDO UPDATE SET \n  source_website = EXCLUDED.source_website,\n  raw_html = EXCLUDED.raw_html,\n  scraped_at = EXCLUDED.scraped_at,\n  processed = FALSE\nRETURNING *;",
        "additionalFields": {
          "mode": "independently",
          "queryParams": "={{ $json.source_url }},={{ $json.source_website }},={{ $json.raw_html }},={{ $now }}"
        }
      },
      "id": "supabase-startitup",
      "name": "Postgres Upsert - Startitup",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [850, 700],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Supabase Postgres"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "append",
        "mergeByFields": {},
        "options": {},
        "numberInputs": 5
      },
      "id": "merge-all-results",
      "name": "Merge All Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "mode": "name",
          "value": "Sub-Workflow 1B: Link Extractor"
        },
        "mode": "once",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "execute-link-extractor",
      "name": "Execute Link Extractor",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [1270, 400]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request - Topky",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request - Cas",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request - Pluska",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request - Refresher",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request - Startitup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Topky": {
      "main": [
        [
          {
            "node": "Set - Topky Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Cas": {
      "main": [
        [
          {
            "node": "Set - Cas Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Pluska": {
      "main": [
        [
          {
            "node": "Set - Pluska Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Refresher": {
      "main": [
        [
          {
            "node": "Set - Refresher Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Startitup": {
      "main": [
        [
          {
            "node": "Set - Startitup Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Topky Data": {
      "main": [
        [
          {
            "node": "Postgres Upsert - Topky",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Cas Data": {
      "main": [
        [
          {
            "node": "Postgres Upsert - Cas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Pluska Data": {
      "main": [
        [
          {
            "node": "Postgres Upsert - Pluska",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Refresher Data": {
      "main": [
        [
          {
            "node": "Postgres Upsert - Refresher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Startitup Data": {
      "main": [
        [
          {
            "node": "Postgres Upsert - Startitup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Upsert - Topky": {
      "main": [
        [
          {
            "node": "Merge All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Upsert - Cas": {
      "main": [
        [
          {
            "node": "Merge All Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Postgres Upsert - Pluska": {
      "main": [
        [
          {
            "node": "Merge All Results",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Postgres Upsert - Refresher": {
      "main": [
        [
          {
            "node": "Merge All Results",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Postgres Upsert - Startitup": {
      "main": [
        [
          {
            "node": "Merge All Results",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Merge All Results": {
      "main": [
        [
          {
            "node": "Execute Link Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-04T00:00:00.000Z",
  "versionId": "2"
}
